<link rel="stylesheet" href="/style/http4/main.css" />
<div class="container">
    <div></div>
    <div class="message" ><%= @message %>(<%= @status %>)</div>
    <a class="home-link" href="/"">ホームに戻る</a>
    <div></div>
</div>