<link rel="stylesheet" href="/style/post/main.css" />
<div id="container">
    <!-- 投稿作成ゾーン -->
    <div id="create-post"></div>

    <!-- 投稿一覧表示ゾーン -->
    <div id="posts"></div>
</div>

<script src="/ajax/post.js"></script>